.promo {
    background: #073042;
    padding: 75px 70px;
}

.promo__banner {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1140px;
}

.promo__header {
    margin: 0 auto;
    font-weight: 400;
    font-size: 50px;
    max-width: 640px;
    color: #FFFFFF;
}

.promo__text {
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
    opacity: .5;
    margin: 36px 0 0;
    max-width: 310px;
}

.promo__button {
    display: flex;
    margin: 146px 0 auto;
    width: 129px;
    height: 36px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: 3px;
    background: none;
    color: #FFFFFF;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.promo__image {
    width: 310px;
    height: 304px;
}

@media (max-width: 1023px) {
    .promo {
        padding: 140px 0 76px;
    }

    .promo__banner {
        flex-direction: column-reverse;
        align-items: center;
    }

    .promo__header {
        text-align: center;
        font-size: 40px;
        max-width: 680px;
    }

    .promo__text {
        text-align: center;
        margin: 22px auto 92px;
    }

    .promo__button {
        margin-top: 0;
    }

    .promo__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 48px;
    }
}

@media (max-width: 424px) {
    .promo {
        padding: 70px 0 30px;
    }

    .promo__container {
        margin-top: 44px;
    }

    .promo__image {
        width: 210px;
        height: 206px;
    }

    .promo__header {
        font-size: 30px;
        max-width: 300px;
        letter-spacing: -0.04em;
    }

    .promo__text {
        margin: 24px 30px 80px;
    }

}