.auth {
    display: flex;
    gap: 30px;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.auth__signup {
    text-decoration: none;
    color: #FFF;
}

.auth__signin {
    text-decoration: none;
    width: 76px;
    height: 32px;
    background-color: #2BE080;
    color: black;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}