.checkbox__container {
    display: flex;
    align-items: center;
    gap: 14px;
    max-width: 1140px;
    margin: 0 auto;
}

.checkbox__button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.checkbox__title {
    font-weight: 400;
    font-size: 13px;
    margin: 0;
}

.checkbox__button {
    background-image: url(../../images/green-checkbox.svg);
    width: 36px;
    height: 24px;
}

@media (max-width: 1023px) {
    .checkbox__container {
        flex-direction: row-reverse;
    }
}

@media (max-width: 423px) {
    .checkbox__container {
       justify-content: center;
    }

    .checkbox__title {
        font-size: 11px;
    }
}