.about {
    padding: 110px 0;
    max-width: 1140px;
    margin: 0 auto;
}

.about__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    margin: 0 0 70px;
    border-bottom: black solid;
    padding-bottom: 23px;
}

.about__elements {
    display: flex;
    gap: 40px;
}

.about__element {
    width: 550px;
}

.about__element-title {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.about__element-text {
    margin: 26px 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.about__scale {
    margin: 110px 0 0;
    display: flex;
}

.about__week {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.about__green-block {
    font-weight: 400;
    font-size: 14px;
    width: 228px;
    height: 36px;
    background: #2BE080;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__grey-block {
    font-weight: 400;
    font-size: 14px;
    width: 912px;
    height: 36px;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__scale-text {
    margin: 0;
    color: #A0A0A0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}