.about {
    padding: 110px 70px;
    max-width: 1140px;
    margin: 0 auto;
}

.about__title {
    font-weight: 400;
    font-size: 22px;
    margin: 0 0 70px;
    border-bottom: black solid;
    padding-bottom: 23px;
}

.about__elements {
    display: flex;
    gap: 40px;
}

.about__element {
    max-width: 550px;
}

.about__element-title {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
}

.about__element-text {
    margin: 26px 0 0;
    font-weight: 400;
    font-size: 14px;
}

.about__scale {
    margin: 110px 0 0;
    display: flex;
}

.about__week1 {
    flex-grow: 1;
}

.about__week4 {
    flex-grow: 5.16;
}

.about__green-block {
    font-weight: 400;
    font-size: 14px;
    height: 36px;
    background: #2BE080;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__grey-block {
    font-weight: 400;
    font-size: 14px;
    height: 36px;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 4;
}

.about__scale-text {
    margin: 14px 0 0;
    color: #A0A0A0;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

@media (max-width: 1023px) {
    .about {
        padding: 90px 50px;
    }

    .about__elements {
        gap: 30px;
    }

    .about__element-text {
        margin: 22px 0 0;
    }

    .about__scale {
        margin: 93px 0 0;
    }

    .about__element-text {
        margin: 22px 0 0;
        font-size: 12px;
    }
}

@media (max-width: 424px) {
    .about {
        padding: 70px 18px;
    }

    .about__title {
        font-size: 18px;
        margin: 0 0 60px;
        padding-bottom: 28px;
    }

    .about__elements {
        flex-direction: column;
        gap: 40px;
    }

    .about__element {

    }

    .about__element-title {
        font-size: 18px;
    }

    .about__element-text {
        margin: 16px 0 0;
        font-size: 11px;
    }

    .about__grey-block {
        font-size: 11px;
        height: 35px;

    }

    .about__scale-text {
        font-size: 11px;
        height: 35px;
    }
}