.footer {
    padding: 80px 70px 20px;
}

.footer__container {
    max-width: 1140px;
    margin: 0 auto;
}

.footer__text {
    font-weight: 400;
    font-size: 13px;
    color: #A0A0A0;
    margin: 0 0 20px;
    padding: 0 0 20px;
    text-align: center;
    border-bottom: #E8E8E8 solid;
}

.footer__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
}

.footer__year {
    margin: 0;
}

.footer__links {
    display: flex;
    gap: 20px;
}

.footer__link {
    text-decoration: none;
    color: black;
}

@media (max-width: 1023px) {
    .footer {
        padding: 80px 30px 20px;
    }
}

@media (max-width: 423px) {
    .footer {
        padding: 80px 10px 20px;
    }

    .footer__text {
        font-size: 12px;
        margin: 0 0 30px;
    }

    .footer__info {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
        font-size: 12px;
    }

    .footer__links {
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

    .footer__year {
        color: #A0A0A0;
    }
}