.techs {
    background: #F5F5F5;
    padding: 100px 70px;
}

.techs__container {
    max-width: 1140px;
    margin: 0 auto;
}

.techs__title {
    font-weight: 400;
    font-size: 22px;
    margin: 0 0 90px;
    border-bottom: black solid;
    padding-bottom: 23px;
    letter-spacing: -0.04em;
}

.techs__subtitle {
    font-weight: 400;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin: 0;
    letter-spacing: -0.04em;
}

.techs__text {
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 26px auto 100px;
    max-width: 460px;
    letter-spacing: -0.04em;
}

.techs__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.techs__element {
    width: 90px;
    height: 60px;
    background: #E8E8E8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
}

@media (max-width: 1023px) {
    .techs {
        padding: 90px 50px;
    }

    .techs__title {
        margin: 0 0 80px;
    }

    .techs__text {
        font-size: 12px;
        margin: 22px auto 83px;
    }

    .techs__element {
        width: 84px;
        height: 57px;
        font-size: 12px;
    }
}

@media (max-width: 424px) {
    .techs {
        padding: 70px 18px;
        background: none;
    }

    .techs__title {
        font-size: 18px;
        margin: 0 0 60px;
        padding-bottom: 28px;
    }

    .techs__subtitle {
        font-size: 30px;
    }

    .techs__text {
        font-size: 11px;
        margin: 24px auto 50px;
    }

    .techs__list {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
}